<p id="notice"><%= notice %></p>

<h1>Etfs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Asset</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @etfs.each do |etf| %>
      <tr>
        <td><%= etf.name %></td>
        <td><%= etf.description %></td>
        <td><%= etf.asset_id %></td>
        <td><%= link_to 'Show', etf %></td>
        <td><%= link_to 'Edit', edit_etf_path(etf) %></td>
        <td><%= link_to 'Destroy', etf, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Etf', new_etf_path %>
