<div id="etfs-index-page">
  <div class="index-container">
    <div>
      <% @etfs.sort { |a, b| a.name <=> b.name }.each do |etf| %>
        <div>
          <p><big><%= link_to "#{etf.name}", etf %></big> · <small><%= etf.asset.name %></small></p>
          <p class="description-text"><%= etf.description.truncate(140, separator: ' ') %></p>
          <% if policy(Asset).edit? %>
            <p><%= link_to 'Edit', edit_etf_path(etf) %></p>
            <p><%= link_to 'Destroy', etf, method: :delete, data: { confirm: 'Are you sure?' } %></p>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <br>

  <%= link_to 'New ETFs', new_etf_path %>
  <p id="notice"><%= notice %></p>
</div>
