<div id="assets-index-page">
  <div class="index-container">
    <div>
      <% @assets.sort { |a, b| a.name <=> b.name }.each do |asset| %>
        <div>
          <p><big><%= link_to "#{asset.name}", asset %></big></p>
          <p class="description-text"><%= asset.description.truncate(140, separator: ' ') %></p>
            <p><%= link_to 'Edit', edit_asset_path(asset) %></p>
            <p><%= link_to 'Destroy', asset, method: :delete, data: { confirm: 'Are you sure?' } %></p>
        </div>
      <% end %>
    </div>
  </div>

  <br>
  <% if policy(Asset).create? %>
    <%= link_to 'New Asset', new_asset_path %>
  <% end %>
  <p id="notice"><%= notice %></p>
</div>
